[submodule "tools/git2cl"]
	path = tools/git2cl
	url = https://github.com/AmpereComputing/git2cl.git
[submodule "src/jtag/drivers/libjaylink"]
	path = src/jtag/drivers/libjaylink
	url = https://github.com/syntacore/libjaylink.git
